src/conf/xml-resources/web-service-references/TimesheetSubWebService/wsdl/localhost_8080/TimesheetWS/TimesheetSubWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="TimesheetSubWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/TimesheetWS/TimesheetSubWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="findHistoryByWorkerId">
<part name="parameters" element="tns:findHistoryByWorkerId"/>
</message>
<message name="findHistoryByWorkerIdResponse">
<part name="parameters" element="tns:findHistoryByWorkerIdResponse"/>
</message>
<message name="addInvoice">
<part name="parameters" element="tns:addInvoice"/>
</message>
<message name="addInvoiceResponse">
<part name="parameters" element="tns:addInvoiceResponse"/>
</message>
<message name="timeSheetSubmit">
<part name="parameters" element="tns:timeSheetSubmit"/>
</message>
<message name="timeSheetSubmitResponse">
<part name="parameters" element="tns:timeSheetSubmitResponse"/>
</message>
<message name="findAllInvoice">
<part name="parameters" element="tns:findAllInvoice"/>
</message>
<message name="findAllInvoiceResponse">
<part name="parameters" element="tns:findAllInvoiceResponse"/>
</message>
<portType name="TimesheetSubWebService">
<operation name="login">
<input wsam:Action="http://ws/TimesheetSubWebService/loginRequest" message="tns:login"/>
<output wsam:Action="http://ws/TimesheetSubWebService/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="findHistoryByWorkerId">
<input wsam:Action="http://ws/TimesheetSubWebService/findHistoryByWorkerIdRequest" message="tns:findHistoryByWorkerId"/>
<output wsam:Action="http://ws/TimesheetSubWebService/findHistoryByWorkerIdResponse" message="tns:findHistoryByWorkerIdResponse"/>
</operation>
<operation name="addInvoice">
<input wsam:Action="http://ws/TimesheetSubWebService/addInvoiceRequest" message="tns:addInvoice"/>
<output wsam:Action="http://ws/TimesheetSubWebService/addInvoiceResponse" message="tns:addInvoiceResponse"/>
</operation>
<operation name="timeSheetSubmit">
<input wsam:Action="http://ws/TimesheetSubWebService/timeSheetSubmitRequest" message="tns:timeSheetSubmit"/>
<output wsam:Action="http://ws/TimesheetSubWebService/timeSheetSubmitResponse" message="tns:timeSheetSubmitResponse"/>
</operation>
<operation name="findAllInvoice">
<input wsam:Action="http://ws/TimesheetSubWebService/findAllInvoiceRequest" message="tns:findAllInvoice"/>
<output wsam:Action="http://ws/TimesheetSubWebService/findAllInvoiceResponse" message="tns:findAllInvoiceResponse"/>
</operation>
</portType>
<binding name="TimesheetSubWebServicePortBinding" type="tns:TimesheetSubWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findHistoryByWorkerId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addInvoice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="timeSheetSubmit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllInvoice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="TimesheetSubWebService">
<port name="TimesheetSubWebServicePort" binding="tns:TimesheetSubWebServicePortBinding">
<soap:address location="http://localhost:8080/TimesheetWS/TimesheetSubWebService"/>
</port>
</service>
</definitions>