src/conf/xml-resources/web-service-references/TimesheetSubWebService/wsdl/localhost_8080/TimesheetWS/TimesheetSubWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="addInvoice" type="tns:addInvoice"/>

<xs:element name="addInvoiceResponse" type="tns:addInvoiceResponse"/>

<xs:element name="employee" type="tns:employee"/>

<xs:element name="findAllInvoice" type="tns:findAllInvoice"/>

<xs:element name="findAllInvoiceResponse" type="tns:findAllInvoiceResponse"/>

<xs:element name="findHistoryByWorkerId" type="tns:findHistoryByWorkerId"/>

<xs:element name="findHistoryByWorkerIdResponse" type="tns:findHistoryByWorkerIdResponse"/>

<xs:element name="history" type="tns:history"/>

<xs:element name="invoice" type="tns:invoice"/>

<xs:element name="login" type="tns:login"/>

<xs:element name="loginResponse" type="tns:loginResponse"/>

<xs:element name="timeSheetSubmit" type="tns:timeSheetSubmit"/>

<xs:element name="timeSheetSubmitResponse" type="tns:timeSheetSubmitResponse"/>

<xs:complexType name="timeSheetSubmit">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
<xs:element name="arg3" type="xs:string" minOccurs="0"/>
<xs:element name="arg4" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="timeSheetSubmitResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findHistoryByWorkerId">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findHistoryByWorkerIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:history" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="history">
<xs:sequence>
<xs:element name="accept" type="xs:boolean" minOccurs="0"/>
<xs:element name="endTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="project" type="xs:string" minOccurs="0"/>
<xs:element name="startTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="task" type="xs:string" minOccurs="0"/>
<xs:element name="totalTime" type="xs:int" minOccurs="0"/>
<xs:element name="workerId" type="tns:employee" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="employee">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="role" type="xs:string" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addInvoice">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
<xs:element name="arg3" type="xs:string" minOccurs="0"/>
<xs:element name="arg4" type="xs:int"/>
<xs:element name="arg5" type="xs:int"/>
<xs:element name="arg6" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addInvoiceResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="return" type="tns:employeeModel" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="employeeModel">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="historyModel" type="tns:historyModel" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="invoiceModel" type="tns:invoiceModel" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="role" type="xs:string" minOccurs="0"/>
<xs:element name="timesheetModel" type="tns:timesheetModel" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="historyModel">
<xs:sequence>
<xs:element name="accept" type="xs:boolean"/>
<xs:element name="endTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="project" type="xs:string" minOccurs="0"/>
<xs:element name="startTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="task" type="xs:string" minOccurs="0"/>
<xs:element name="totalTime" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="invoiceModel">
<xs:sequence>
<xs:element name="clientName" type="xs:string" minOccurs="0"/>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="invoiceTime" type="xs:int"/>
<xs:element name="project" type="xs:string" minOccurs="0"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="task" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="timesheetModel">
<xs:sequence>
<xs:element name="endTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="project" type="xs:string" minOccurs="0"/>
<xs:element name="startTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="task" type="xs:string" minOccurs="0"/>
<xs:element name="totalTime" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAllInvoice">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllInvoiceResponse">
<xs:sequence>
<xs:element name="return" type="tns:invoice" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="invoice">
<xs:sequence>
<xs:element name="clientName" type="xs:string" minOccurs="0"/>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="invoiceTime" type="xs:int" minOccurs="0"/>
<xs:element name="project" type="xs:string" minOccurs="0"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="task" type="xs:string" minOccurs="0"/>
<xs:element name="workerId" type="tns:employee" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>